/*copyright by kitgraphiquegratuit.org*/
body, html       {background:#000;margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif;text-align:center;color:#FFF;background-attachment: fixed;font-size:11px}      
#conteneur       {margin: 0 auto 0;width: 1024px;position:relative;}	
#header          {height:237px;background:url(../images/header.jpg) no-repeat top center;width:1024px} 	
#contenu         {width: 1024px;padding: 0;margin:0 auto 0;background-color:#111111;}
#left			 {width: 206px;padding: 0;margin:0;float:left}
#right			 {width: 206px;padding: 0;margin:0;float:right} 
#centre          {width: 612px;padding: 0;margin:0 206px 0 206px}
#pied            {background:url(../images/pied.jpg) top no-repeat;height:29px;width:1024px;margin:0;padding:139px 0 0 0;text-align:center;clear:both;}

/*Menu*/	 
.mh	        {width:184px;height:34px;background:url(../images/mh.jpg) no-repeat;padding:16px 0 0 0;margin:0 auto;font-size:14px;font-weight:bold;font-family: Corbel;text-shadow: #C49720 0px 0px 0.5em;}
.mf  	    {width:184px;background:url(../images/mf.jpg);padding:0;margin:0 auto;color:#FFF}
.mb  	    {width:184px;height:30px;background:url(../images/mb.jpg) no-repeat;padding:0;margin:0 auto;}	
.mf a 	    {color:#c59129}  
.mf a:hover {color:#FFF}  
ul             {width:184px;padding:0;margin:0;list-style:none;}   
ul li          {padding:3px 0 0 0;} 
.mf ul li a        {width:152px;display: block;outline:none;height:16px;padding:5px 16px 0 16px;margin:0 0 0 0;color:#c59129;font-size:10px;text-decoration: none;font-weight:bold;background:url(../images/bouton.jpg)}	
.mf ul li a:hover  {color: #232323;background:url(../images/bouton_hover.jpg)}	

/*Cadre news*/	
.nh	  {width:609px;height:60px;background:url(../images/nh.jpg) no-repeat bottom;padding:0;margin:0 auto 0 auto;}
.nf	  {width:509px;background:url(../images/nf.jpg);padding:0 50px 0 50px ;margin:0 auto;text-align:left;color:#FFF}
.nb	  {width:609px;height:60px;background:url(../images/nb.jpg) no-repeat;padding:0;margin:0 auto;}
.alli {position:relative;top:80px;left:35px;font-family: Corbel;font-size:16px;text-shadow: #C49720 0px 0px 0.5em;}
.horde {position:relative;top:60px;left:-40px;font-size:16px;font-family: Corbel;text-shadow: #C49720 0px 0px 0.5em;}
p.erreur {font-size:18px;font-family: Corbel;color:#FF0000;text-shadow: #C49720 0px 0px 0.5em;}
p.succes {font-size:18px;font-family: Corbel;color:#4CFF00;text-shadow: #C49720 0px 0px 0.5em;}
p.normal {font-size:14px;font-family: Corbel;color:#FFFFFF;text-shadow: #C49720 0px 0px 0.5em;}
.statsimg {position:relative;top:20px;}
/*Copyright*/
.copyright           {color:#FFF;font-size:10px;font-weight:bold;text-align:center;margin:0 0 5px 0}   
.copyright a         {color:#c59129;font-size:10px;font-weight:bold;text-decoration: none;outline:none}
.copyright a:hover   {color:#FFF} 
a            {color: #c59129;text-decoration: none;font-weight:bold}	  
a:hover      {color: #FFF} 
Span		 {color:#c59129;font-size:12px;font-weight:bold}	
img, p, h1, h2, h3, h4, h5, h6, Span, object, table, td, tr, form{border:0;margin:0;padding:0}  
.clear       {clear:both;visibility:hidden}
td.top {font-family: Corbel;text-shadow: #C49720 0px 0px 0.5em;}
font.top {font-family: Corbel;text-shadow: #C49720 0px 0px 0.5em;}
img.top {margin: 5px 10px -10px 0px;}
table.top{margin: -10px 0 0 10px;}
img.float-left {margin: 5px 10px -15px 0px;}
span.right { margin: 70px;}
/*Copyright blizzard*/
.copyrightblizzard           {color:#FFF;font-size:8px;text-align:center;margin:0 auto 5px auto;width:1024px}   
																																		   
/*Espace_Membre*/
#Espace_Membre     {width:184px;color:#FFF;font-weight:bold;font-size:10px}
.stats            {width:185px;height:132px;background:url(../images/online2.png) no-repeat;}
.champ             {width:143px;height:24px;border:0;color:#FFF;background:url(../images/champs.png) no-repeat;padding:0 12px 0 8px;margin:0 auto 3px;text-align:left}	   
.champ1            {background-color:transparent;border:0;color:#e5b524;font-size:10px;width:143px;height:15px;padding:3px 0 0 0;margin:0 auto}

 .slideshow {
	display: block;
	position: relative;
	z-index: 0;
}
.slideshow-images {
	display: block;
	overflow: hidden;
	position: relative;
}		
.slideshow-images img {
	display: block;
	position: absolute;
	z-index: 1;
}		
.slideshow-thumbnails {
	overflow: hidden;
}

.slideshow-images {
	height: 300px;
	width: 400px;
}		
.slideshow-images-visible { 
	opacity: 1;
}	
.slideshow-images-prev { 
	opacity: 0; 
}
.slideshow-images-next { 
	opacity: 0; 
}
.slideshow-images img {
	left: 0;
	top: 0;
}	

.slideshow {
	height: 300px;
	margin: -5;
	width: 400px;
}
.slideshow a img {
	border: 0;
}

.slideshow-captions {
	background: #000;
	bottom: 0;
	color: #FFF;
	font: normal 12px/22px Arial, sans-serif;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	width: 100%;
	z-index: 10000;
}
.slideshow-captions-hidden {
	height: 0;
	opacity: 0;
}
.slideshow-captions-visible {
	height: 22px;
	opacity: .7;
}

.slideshow-controller {
	background: url(../images/banniere/boutons/controller.png) no-repeat;
	height: 42px;
	left: 50%;
	margin: -21px 0 0 -119px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 238px;
	z-index: 10000;
}
.slideshow-controller * {
	margin: 0;
	padding: 0;
}
.slideshow-controller-hidden { 
	opacity: 0;
}
.slideshow-controller-visible {
	opacity: 1;
}
.slideshow-controller a {
	cursor: pointer;
	display: block;
	height: 18px;
	overflow: hidden;
	position: absolute;
	top: 12px;
}
.slideshow-controller a.active {
	background-position: 0 18px;
}
.slideshow-controller li {
	list-style: none;
}
.slideshow-controller li.first a {
	background-image: url(../images/banniere/boutons/controller-first.gif);
	left: 33px;
	width: 19px;
}
.slideshow-controller li.last a {
	background-image: url(../images/banniere/boutons/controller-last.gif);
	left: 186px;
	width: 19px;
}
.slideshow-controller li.next a {
	background-image: url(../images/banniere/boutons/controller-next.gif);
	left: 145px;
	width: 28px;
}
.slideshow-controller li.pause a {
	background-image: url(../images/banniere/boutons/controller-pause.gif);
	left: 109px;
	width: 20px;
}
.slideshow-controller li.play a {
	background-position: 20px 0;
}
.slideshow-controller li.play a.active {
	background-position: 20px 18px;
}
.slideshow-controller li.prev a {
	background-image: url(../images/banniere/boutons/controller-prev.gif);
	left: 65px;
	width: 28px;
}

.slideshow-loader {
	height: 28px;
	right: 0;
	position: absolute;
	top: 0;
	width: 28px;
	z-index: 10001;
}
.slideshow-loader-hidden {
	opacity: 0;
}
.slideshow-loader-visible {
	opacity: 1;
}

.slideshow-thumbnails {
	bottom: -30px;
	height: 65px;
	left: 0;
	position: absolute;
	width: 100%;
}
.slideshow-thumbnails * {
	margin: 0;
	padding: 0;
}
.slideshow-thumbnails ul {
	height: 65px;
	left: 0;
	position: absolute;
	top: 0;
	width: 10000px;
}
.slideshow-thumbnails li {
	float: left;
	list-style: none;
	margin: 0px 5px 5px 0;
	position: relative;
}
.slideshow-thumbnails a {
	display: block;
	float: left;
	padding: 5px;
	position: relative; 
}
.slideshow-thumbnails a:hover {
	background-color: #FF9 !important;
	opacity: 1 !important;
}
.slideshow-thumbnails img {
	display: block;
}
.slideshow-thumbnails-active {
	background-color: #9FF;
	opacity: 1;
}
.slideshow-thumbnails-inactive {
	background-color: #FFF;
	opacity: .5;
} 