#
# phpBB Imageset Configuration File
#
# @package phpBB3
# @copyright (c) 2005 phpBB Group 
# @license http://opensource.org/licenses/gpl-license.php GNU Public License 
#
#
# At the left is the name, please do not change this
# At the right the value is entered
# For on/off options the valid values are on, off, 1, 0, true and false
#
# Values get trimmed, if you want to add a space in front or at the end of
# the value, then enclose the value with single or double quotes. 
# Single and double quotes do not need to be escaped.
#
#

# Images 
img_icon_contact_aim = icon_contact_aim.png*24*70
img_icon_contact_email = icon_contact_email.png*24*70
img_icon_contact_icq = icon_contact_icq.png*24*70
img_icon_contact_jabber = icon_contact_jabber.png*24*70
img_icon_contact_msnm = icon_contact_msnm.png*24*70
img_icon_contact_pm = icon_contact_pm.png*24*70
img_icon_contact_yahoo = icon_contact_yahoo.png*24*70
img_icon_contact_www = icon_contact_www.png*24*70

img_icon_post_delete = icon_post_delete.gif
img_icon_post_edit = icon_post_edit.png*24*70
img_icon_post_info = icon_post_info.gif
img_icon_post_quote = icon_post_quote.png*24*70
img_icon_post_report = icon_post_report.gif

img_icon_user_online = icon_user_online.png*24*70
img_icon_user_offline = icon_user_offline.png*24*70
img_icon_user_profile = icon_user_profile.png*24*70
img_icon_user_search = icon_user_search.png*24*70
img_icon_user_warn = icon_user_warn.gif

img_button_pm_forward =
img_button_pm_new = newpost.png*29*100
img_button_pm_reply = button_pm_reply.png*24*70
img_button_topic_locked = locked.png*29*100
img_button_topic_new = newtopic.png*29*100
img_button_topic_reply = postreply.png*29*100
