<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<title>WoWMaevahEmpire created by Moonclaw-Ma&euml;vah-Ma&euml;va&auml;h (EU-Illidan - www.wowcr.net)</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>body {background-color:#000000;}</style>
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td align="center" valign="middle"><a href="http://www.wowcr.net/" target="_new"><img src="../theme/images/created_by.jpg" border="0" alt="WoWMaevahEmpire created by Moonclaw-Ma&euml;vah-Ma&euml;va&auml;h (EU-Illidan) - www.wowcr.net"></a></td>
	</tr>
</table>
</body>
</html>